app-playvideo:host {
  
  .lineone-header {
    background: var(--light-blue);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
    
    ion-toolbar {
      --background: transparent;
    }
    
    .text-dark { color: var(--dark-color-second); }
    .fw-bold { font-weight: 600; font-size: 1.15rem; }
  }

  .custom-back-btn {
    --background: var(--light-gray);
    --background-hover: var(--color-neutral-200);
    --color: var(--dark-color-second);
    --border-radius: 12px;
    height: 40px;
    width: 40px;
    margin: 0;

    &::part(native) {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  /* ميزة Line-clamp لإخفاء النص الزائد بـ (...) إذا تجاوز سطرين */
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}