app-add-parent:host {

  /* خلفية النظام */
  ion-content {
    --background: var(--light-gray);
  }

  /* إخفاء سكرول التمرير */
  ::-webkit-scrollbar {
    display: none;
  }

  /* الهيدر المخصص */
  .lineone-header {
    background: var(--light-blue);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    ion-toolbar { --background: var(--light-blue); }
    .text-dark { color: var(--dark-color-second); }
    .fw-bold { font-weight: 700; font-size: 1.1rem; }
  }

  /* النافذة الذكية (Modal) */
  ion-modal.smart-class-modal {
    --border-radius: 20px 20px 0 0;
    
    @media (min-width: 768px) {
      --border-radius: 20px;
      --width: 450px;
      --height: 600px;
    }
  }
}