app-duration-subscription:host {
  
  /* إخفاء خطوط التمرير (Scrollbars) لشكل أكثر أناقة */
  ::-webkit-scrollbar {
    display: none;
  }
  
  /* تخصيص لون أزرار الاختيار (Radio Buttons) لتناسب الهوية */
  ion-radio {
    --color: var(--menu-text-color); /* slate-300 */
    --color-checked: var(--ion-color-primary); /* indigo-600 */
  }

  /* تخصيص النافذة (Modal) لتكون حوافها دائرية من الأعلى */
  ion-content {
    --background: var(--light-blue);
  }
}