:host {
  display: block;
  width: 100%;
  background: transparent;
}

/* تخصيص شكل شريط التمرير ليصبح مخفياً أو ناعماً جداً */
.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--light-gray);
    border-radius: 10px;
  }
}