app-search-student:host {
    
    /* لون الخلفية الأساسي للمنصة ليتوافق مع تصميم Lineone */
    .lineone-bg {
        --background: var(--light-gray);
    }

    /* =======================================================
       🌟 تخصيص شريط البحث (Searchbar) ليطابق تصميم Lineone
       ======================================================= */
    .lineone-searchbar {
        --background: var(--light-blue);
        --box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* ظل خفيف جداً */
        --border-radius: 14px;
        --icon-color: var(--menu-text-color); /* Slate 400 */
        --clear-button-color: var(--menu-text-color);
        --placeholder-color: var(--menu-text-color);
        --placeholder-font-weight: 600;
        --color: var(--dark-color-second); /* Slate 800 للنص المكتوب */
        
        border: 1px solid var(--light-gray);
        border-radius: 14px;
        transition: all 0.3s ease;

        /* تأثير عند الضغط والكتابة داخل الحقل */
        &.searchbar-has-focus {
            border-color: var(--ion-color-primary);
            box-shadow: 0 0 0 3px color-mix(in srgb, var(--ion-color-primary) 15%, transparent); /* هالة مضيئة حول الحقل */
        }
        
        &::part(input) {
            font-weight: 700;
            font-size: 14px;
        }
    }
}