.trash{
	
    float: left;
    font-size: 25px;
    padding: 2px;
    color: #eb445a;

}
.pdf-div{
	img{
		    width: 36vw;
    		height: 20vh;
	}
	ion-icon{
		font-size: 47px;
	    position: absolute;
	    right: 9vh;
	    top: 8vh;
	    color: #2979ff;
	}
}