:host {
  display: block;
  background: var(--light-blue);
  
  /* مسح أي تأثيرات افتراضية من Ionic Inputs */
  ion-input {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 8px;
    --padding-bottom: 8px;
  }
}