app-followup-student-list:host {
  ion-content {
    --background: var(--light-gray);
  }

  ::-webkit-scrollbar {
    display: none;
  }

  ion-input {
    --padding-start: 0 !important;
    --padding-end: 0 !important;
    --padding-top: 0 !important;
    --padding-bottom: 0 !important;
    --inner-padding-end: 0 !important;
    font-family: inherit;
    
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}