app-messages:host {
  ion-content {
    --background: var(--light-gray);
  }

  /* تنسيقات الهيدر (Lineone Style) */
  .lineone-header {
    background: var(--light-blue);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
    
    ion-toolbar {
      --background: var(--light-blue);
    }
    
    .text-dark { color: var(--dark-color-second); }
    .fw-bold { font-weight: 600; font-size: 1.15rem; letter-spacing: 0.5px; }
  }

  /* تنسيق أيقونات القائمة وزر الإضافة (Lineone Style) */
  .menu-btn-container, ion-buttons[slot="end"] {
    margin-inline-start: 5px;

    .custom-menu-btn {
      --background: var(--light-gray); /* خلفية رمادية فاتحة جداً */
      --border-radius: 12px; /* زوايا دائرية ناعمة */
      --padding-start: 8px;
      --padding-end: 8px;
      height: 40px;
      width: 40px;
      margin: 0;
      transition: all 0.2s ease;

      ion-icon {
        font-size: 1.6rem;
        color: var(--dark-color-second); /* لون الأيقونة (Slate 700) */
      }

      &:active {
        --background: var(--light-gray); /* تتغير الخلفية عند النقر */
        transform: scale(0.95);
      }
    }
  }
}