app-students:host {
  ion-content {
    --background: var(--light-gray);
  }

  /* إخفاء السكرول بار */
  ::-webkit-scrollbar {
    display: none;
  }

  ion-item {
    --background: transparent;
    --border-style: none;
    --inner-padding-end: 0;
    --padding-start: 0;
  }
}