<ion-header class="ion-no-border">
  <ion-toolbar>
  	<ion-buttons slot="end">
  		<ion-back-button></ion-back-button>
  	</ion-buttons>
    <ion-title>{{'add_teacher.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="content">
		
		<ion-list class="form-list">
			<ion-item>
				<ion-label>{{'add_teacher.Email' | translate}}</ion-label>
				<ion-input type="email" [(ngModel)]="teacherData.email_id" ></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>{{'add_teacher.Name' | translate}}</ion-label>
				<ion-input type="text" [(ngModel)]="teacherData.first_name" ></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>{{'add_teacher.user_id' |translate}}</ion-label>
				<ion-input type="number" [(ngModel)]="teacherData.username" ></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>{{'add_teacher.Password' |translate}}</ion-label>
				<ion-input type="password" [(ngModel)]="teacherData.password" ></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>{{'add_teacher.confirm_password'| translate}}</ion-label>
				<ion-input type="password" [(ngModel)]="teacherData.confirm_password" ></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>{{'teacher_profile.class'| translate}}</ion-label>
				<ionic-selectable style="height: 6vh; margin-top: -2px;overflow: hidden;" 
				  [(ngModel)]="usersDataclass"
				  [isMultiple]="true"
				  [items]="classes"
				  itemValueField="cid"
				  itemTextField="name"
				  (onChange)="portChange($event)"
				  [canSearch]="true">
				</ionic-selectable>
			  </ion-item>
		</ion-list>
		<div class="btn">
			<ion-button expand="block" (click)="submit()">{{'add_teacher.Submit'| translate}}</ion-button>
		</div>
	</div>

</ion-content>
