app-select-bulletins-user:host {
  
  .lineone-header {
    background: var(--light-blue);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
    
    ion-toolbar {
      --background: transparent;
    }
    
    .text-dark { color: var(--dark-color-second); }
    .fw-bold { font-weight: 600; font-size: 1.15rem; }
  }

  .custom-back-btn {
    --background: var(--light-gray);
    --background-hover: var(--color-neutral-200);
    --color: var(--dark-color-second);
    --border-radius: 12px;
    height: 40px;
    width: 40px;
    margin: 0;

    &::part(native) {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  /* تخصيص مربع التحديد (Checkbox) */
  ion-checkbox.lineone-checkbox {
    --size: 22px;
    --checkbox-background-checked: var(--ion-color-primary); 
    --border-color: var(--menu-text-color); 
    --border-color-checked: var(--ion-color-primary);
    --border-radius: 6px;
    --border-width: 2px;
  }

  .pb-safe {
    padding-bottom: calc(env(safe-area-inset-bottom) + 1rem);
  }
}