app-register-teacher:host {
  .lineone-header {
    background: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
    
    ion-toolbar {
      --background: #ffffff;
    }
    
    .text-dark { color: #334155; }
    .fw-bold { font-weight: 600; font-size: 1.15rem; letter-spacing: 0.5px; }
  }

  ion-input {
    --padding-start: 0;
    --padding-end: 0;
  }
}