app-create-class:host {
  
  /* فرض لون الخلفية على كامل الشاشة ليتناسق مع حواف النافذة المنبثقة */
  ion-content {
    --background: var(--light-gray); /* Slate 50 */
  }

  /* إخفاء خطوط التمرير (Scrollbars) لشكل أنيق */
  ::-webkit-scrollbar {
    display: none;
  }
}